ENV=development
SECRET_KEY=your-secret-key-here
ENCRYPTION_KEY=KCR1gZDlKgFq8em7UFCWpM9FF3yH19IVZ8YXkIiS8pus=
FRONTEND_URL=http://localhost:3000

# Database Settings
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/dbname

# Redis Settings
REDIS_URL=redis://localhost:6379/0

# JWT Settings
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# Email / Notification Settings
NOTIFICATION_SERVICE_URL=https://notification-app-jm3r.vercel.app/v1/notification/send-email/
DEFAULT_FROM_EMAIL=fomocaleb2@gmail.com
DEFAULT_FROM_NAME=Thaborsolition Webhook
